/*
 * Author         : Hasan Basri Balcı
 * Author URI     : www.basribalci.com
 * Email          : hasan@basribalci.com
 * Phone  		  : +90 541 568 30 98
*/
 
@media (min-width:1400px) {
.main-slider.style-1 .item > img,.main-slider.style-4 .item > img{max-width:1400px;margin:auto}
}
@media (max-width:1200px) {
.theme-container{padding-left:15px;padding-right:15px}
.login-register .modal-dialog{margin:30px;width:auto}
.login-register .modal-content{background-position:right bottom}
}
@media (min-width:992px)and (max-width:1024px) {
.top-navbar .nav.navbar-nav{float:none!important;text-align:center}
.navbar-nav > li{float:none;display:inline-block}
.header-navigation .navbar-nav > li{margin-top:0;margin-bottom:0}
.header-navigation .navbar-nav{text-align:left}
.main-slider .caption-text{width:90%;top:15%}
.carousel-control.left{right:4%}
.carousel-control.right{left:4%}
.img-bg{margin-top:-30px}
.result-wrap .submit-btn.btn{margin-top:5px}
#grid-view .clear-box:nth-child(3n+1){clear:both}
#grid-view .grid-box:nth-child(4n+1){clear:both}
.product-category .sorter .inline-block{display:block;margin-left:0}
.product-category .sorter .show-as,.product-category .sorter .page-by{text-align:left}
.special-offers-wrap .box-img-wrap > img{margin-left:0}
}
@media (min-width:768px)and (max-width:991px) {
.top-navbar .nav.navbar-nav{float:none!important;text-align:center}
.navbar-nav > li{float:none;display:inline-block}
.header-navigation .navbar-nav > li{margin-bottom:5px;margin-top:5px}
.header-navigation .navbar-nav{text-align:left}
.mega-dropdown-menu .block-bg{height:400px;overflow-x:auto}
.menu-block:nth-child(2n+1){clear:both;border:none}
.img-bg{margin-bottom:15px;margin-right:15px;margin-top:-25px}
.discount-list{margin-bottom:0}
.caption-text .discount{font-size:45px}
.main-slider .style-4.caption-text .discount{font-size:28px}
.main-slider.style-4 .item{height:350px}
.category-slider .discount{font-size:24px}
.carousel-control.left{left:15px;right:auto}
.carousel-control.right{left:auto;right:15px}
.carousel-control.slider-btn{margin:unset;bottom:40%}
.main-slider .caption-text,.main-slider .style-2.caption-text{top:7%;width:70%}
.style-3 .caption-text{width:40%}
.carousel-control.slider-btn-2.left{left:0}
.carousel-control.slider-btn-2.right{right:0}
.style-3 .carousel-control.slider-btn-2.left{left:-15px}
.style-3 .carousel-control.slider-btn-2.right{right:-15px}
.main-slider .caption-text.text-right-side{text-align:right;width:95%}
.special-offers-wrap .box-img-wrap > img{margin-left:0}
.category-slider .item > img{max-width:none}
.footer aside:nth-child(2n+1){clear:both}
.payment-options > ul{text-align:left}
.forgot-pwd{float:none}
.sorter .no-padding{padding-left:15px;padding-right:15px}
.show-as{margin-top:15px;text-align:left;padding-right:0!important}
.page-by,.bottom-pagination{margin-top:15px}
.sort-by{text-align:right}
.bottom-pagination,.show-items{text-align:center}
/*#grid-view .clear-box:nth-child(2n+1){clear:both}
#grid-view .grid-box:nth-child(3n+1){clear:both}*/
.circle-list-box .box-left{padding-right:15px}
.circle-list-box .box-right{padding-left:15px}
.special-offers-bg{background-image:none}
.special-offers-wrap .title-wrap.with-border{width:50%}
.cart-form{display:block;overflow-x:auto}
.product-table th,.product-table td,.product-table .cart-img,.continue-shopping{padding-right:20px;padding-left:20px}
.checkout-wrap .product-table th,.checkout-wrap .product-table td,.checkout-wrap .product-table .cart-img,.checkout-wrap .continue-shopping{padding-right:10px;padding-left:10px}
.checkout-wrap .register-wrap,.checkout-wrap .login-wrap{padding:0 15px 0 0}
.error-info{padding-left:30px}
.widget-latest-post .post-info{float:none;margin:15px 0 0;width:100%}
.widget-latest-post .post-img{float:none}
.subscribe-me{width:auto!important;margin:25px!important;top:5%!important}
.comments-box ol{padding-left:35px}
}
@media (max-width:768px) {

.productItem .product-media img { padding: 0; }

.tabs-container { flex-wrap: wrap; display: block!important; flex:none!important; }
.tabs-footer > div { display: block; flex: none!important; margin-bottom: 10px;}
.tabs-footer { flex: none!important; padding: 10px; border-top: 1px solid #ddd; display: block!important; }
.tabs-footer > button { background-color: #4CAF50; border: 0px; color: #fff; line-height: 38px; padding: 0px 10px; border-radius: 3px; display: block!important; width: 100%!important; text-transform: uppercase; }
.addres-add-form { padding-bottom: 35px; }
.addres-add-form > div div.radio-backed label { position: relative; top: 0; }

.UrunSliderWrap .product-list li {text-align: center;}
.UrunSliderWrap .product-list li .content_price { margin-bottom: 20px; float: none; }
.product-list li .old-price {}

#product .pb-left-column .product-image .product-full {height:inherit!important;}
.product-list li {min-height: 325px!important; padding: 0;}
.home_prod .product-list li:nth-child(4n) {} 
.home_prod .product-list li:first-child {}

.aramaPage .searchFrom .sf-form-container ul li { float: none; width: 100%; min-height: inherit!important; padding: 0px!important;}
.aramaPage .searchFrom .sf-form-container ul li .sf-form-input{max-width: 100%;}
.aramaPage .searchFrom .sf-form-container ul li .sf-neutral-button{margin:0!important;}
.aramaPage .searchFrom .sf-form-container ul li:nth-child(5) { float: none; width: 100%; }

.product-list li .group-price {display:none!important;}
.product-list li .add-to-cart {display:none!important;}
.product-list li .left-block img{}
#main-menu .navbar { display: none; }
.product-tab { margin-top: 10px; }
#footer { margin-top: 0px; }

/*tabs seçenekli ödeme ekranı için*/
.payment .paymentTab{margin-bottom: 10px;}
.payment .paymentTab .tabLinks ul li { float: left; margin: 0px!important; width: 100%;}
.payment .paymentTab .tabLinks ul li:nth-child(2n){ margin-right: 0px!important;}
.payment .paymentTab .tabLinks ul li a{background: #f0f0f0!important; background: -moz-linear-gradient(top, #f0f0f0 0%, #dedede 100%); background: -webkit-linear-gradient(top, #f0f0f0 0%,#dedede 100%)!important; background: linear-gradient(to bottom, #f0f0f0 0%,#dedede 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dedede',GradientType=0 ); display: block; text-indent: inherit!important; width: 100%!important; height: 40px!important; font-size: 17px; background-position: inherit!important; padding: 7px 0px 7px 10px; margin-bottom: 5px; border: 1px solid #ddd; border-radius: 6px;}
.payment .paymentTab .tabLinks ul li a.selected{background: #a1c147!important; /* Old browsers */ background: -moz-linear-gradient(top, #a1c147 0%, #74b700 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #a1c147 0%,#74b700 100%)!important; /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #a1c147 0%,#74b700 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c147', endColorstr='#74b700',GradientType=0 ); /* IE6-9 */ color:#fff!important; border: 1px solid #7db912;}
.payment .paymentTab .tabLinks ul li a.selected:before{color:#fff!important;}
.payment .paymentTab .tabLinks ul li a.pt1:before{font-size: 18px; content: "\f09d"; font-family: FontAwesome; padding-right:5px;}
.payment .paymentTab .tabLinks ul li a.pt2:before{font-size: 18px; content: "\f0d6"; font-family: FontAwesome; padding-right:5px;}
.payment .paymentTab .tabLinks ul li a.pt3:before{font-size: 18px; content: "\f0d1"; font-family: FontAwesome; padding-right:5px;}
.payment .paymentTab .tabLinks ul li a.pt5:before{font-size: 18px; content: "\f064"; font-family: FontAwesome; padding-right:5px;}
.payment .orderTable { overflow: auto; }

.wrapSelectPay .payFooter .rulesText { float: left; font-size: 12px; padding-top: 11px; width: 85%; }
.wrapSelectPay .payFooter .rulesButtons { float: none; margin-right: 0; }

.katDesc {display:none!important;}
.urunsirala td.formlinefix {display:none}
#orderBy, #cat-limit { border: medium none; border-radius: 3px; width: 100%!important; padding: 8px; border: 1px solid #e4e4e4; margin-left: 0px; }
div.basket-button a.grey {float: none; background: #aaa; margin: 10px auto 0px; width: 100%; text-transform: uppercase;}
.basket-item {height:inherit!important;}
.basket-button .green-button {float: none; margin: 5px 0 0; max-width: 100%!important; width: 100%;}
.basket-button a:nth-child(2n+0) {display:none;}
.basket-button a.grey { width: 100%!important; }
.basket-right ul {width:auto!important; float:none!important;}

.coupon-code { width: 60%; height: 40px; margin-top: 13px;}
.coupon-box { float: left; margin-top: 13px; width: 120px;}

form.formv2 .sf-form-container ul li { float: left; width: 100%; margin-right: 0; }

.makaleContent .makaleimg { float: none; max-width: 100%; margin: 0px 0 15px; display: block; }
.blog-listx .page-content li .post-thumb { width: 100%; display: block; margin-right: 0; }
.blog-listx .page-content li .post-thumb a{ position: relative; display: block; width: 100%;}
.blog-listx .page-content li .post-thumb a img{width: 100%;}
.blog-listx .page-content li .post-desc { width: 100%; display: block; padding: 15px 0px; }

.basket-right { width: 100%!important; float: none; margin-right: 0; clear: both; }
.basket-right ul li { position:relative }

.basket-right ul li span.sepet1 { font-size: 14px; min-width: auto; text-align: left; }
.basket-right ul li span.sepet3 { float: right!important; text-align: right; font-size: 18px!important; padding: 4px 0 0; margin: 0; }

sub, sup { display:none; top: 4px; position: absolute; left: 0px; }

.cart-detail h3 a { color: #444!important; font-size: 12px; }
.loginbtnx a { padding: 10px 5px 8px; text-align: center; margin: 0 auto 15px; display: block; width: 100%; border-radius: 0; border-bottom: 3px solid #BD2D09; font-size: 15px; font-weight: 700;}
.sepet-info { background: #FDF59C none repeat scroll 0 0; margin-bottom: 10px; color: #333; display: block; font-size: 14px; line-height: 21px; text-align: center; border: 1px solid #EADF6C; border-radius: 0px; padding: 5px 0; }
.sf-form-item-fullwidth select.sf-form-select { width: 100%; }
.basket-wrap .cart-qty { min-width: inherit; }
.sf-button { width: 100%; }
#gf_odemeTipi{width:95%!important}
.l-innerDiv { padding: 15px; height: auto!important; }
.l-left, .l-right { width: 100%!important; height: auto!important; min-width: 100%!important; min-height: auto!important; }
.sp-login-input { padding: 5px!important; width: 100%!important; padding-left: 10px; height: 35px!important; border: 1px solid #ddd; margin: 3px 0 0!important; margin-left: 0!important; }
.loginWrapper .sf-button { width: 100%!important; min-height: 40px; }
.sf-form-item-fullwidth .sf-form-textarea { overflow: hidden; max-height: 75px!important; max-width: 100%!important; width: 100%!important; min-width: inherit!important; }

.addres-button { width: 100%!important; float: none; display: block; }
table.sepet .tr_alternate td,table.sepet .tr_normal td { position: relative; }
.addres-button { width: auto!important; }
table.sepet td .textBox { text-align: center; width: auto; font-size: 27px !important; right: 17px; top: 17px; }

#spWhatsAppFooter { position: fixed; bottom: 75px !important; right: 25px; width: 125px; z-index: 999; }
div.basket-button a.grey {float: none; margin: 0 auto 7px; width: 100%;}
.basket-button .green-button {float: none; width: 100%; max-width: 100%;}
.basket-button a:nth-child(2n+0) {display:none;}
.basket-button a.grey { width: 100%!important; }
.basket-right ul {width:auto!important; float:none!important;}
.coupon-box {float: left!important; margin-top: 13px!important;}
.basket-right { width: 100%!important; float: none; margin-right: 0; clear: both; }
.basket-right ul li { position:relative }
.basket-right ul li span.sepet3 { float: right!important; text-align: left; font-size: 18px!important; padding: 4px 0 0; }
.cart-detail h3 a { color: #444!important; font-size: 12px; }


.bannerSlider .owl-controls .owl-dots { bottom: 10px; }
.urunSecimTable tbody { display: block; text-align: center; }
.urunSecimTable tr { width: 100%; text-align: center; display: block; }
.urunSecimTable td { line-height: 36px; width: 100%; display: block; }
.urunSecimTable ul.urunSecim li {float: none!important}

.addres-button { width: 100%!important; float: none; display: block; }
.introduce-list li a{ display:block; }
.modGallery li { float: none!important; width: 100%!important; margin: 0!important; margin-left: 0px; margin-bottom: 10px!important; }
.modGallery img { width: 100%!important; border: 2px solid #ccc!important; max-height: 100%!important; height: auto;} 
.galleryList ul li { display: block; margin: 5px 5px 0 0; }
.galleryList ul li a{ display: block; }
.product-tab .tabdesc img, .pageshowPage .PageBody img, .pageshowBlog img { margin-right:0!important; margin-left:0!important; vertical-align: top; max-width: 100%; width: 100%!important; height: 100%!important; }
.product-tab .tabdesc iframe, .pageshowPage .PageBody iframe { max-width: 100%; width: 100%!important;}
#spWhatsAppFooter { bottom: 55px !important; }
.discount-coupon {margin-top: 10px; width: 100%; max-width: 100%; }
.whatsapp_tabela .wrap {float: none; padding-right: 0; width: 100%; display: block; text-align: center;}
.whatsapp_tabela .wrap .icon { display: inline-block; float: none; width: auto; padding-left: 0; height: auto; vertical-align: middle; line-height: 1; text-align: center; margin-bottom: 0;}
.whatsapp_tabela .wrap .icon i{ font-size: 42px }
.whatsapp_tabela .wrap .right { text-align: left; float: none; width: auto; display: inline-block;}
.whatsapp_tabela .wrap .right p.number { font-size: 23px;}

.urunkat .page-title{display:none;}
.urunkat .katDesc{display:none;}
.urunkat .formlinefix{display:none;}
.urunkat .urunsirala td{text-align:center;}
.urunkat .page-inner-content{padding-top:0px!important;}
#katfilter .sidebar-widget {margin-bottom:15px!important;}

.login-wrap{border:none}
.register-wrap{margin-top:50px;padding-left:0}
.header-cart{margin-top:20px;text-align:center}
.header-3 .header-cart,.header-4 .header-cart{margin-top:0;margin-bottom:20px}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#fff}
.nav.navbar-nav{display:inline-block;margin:0;width:100%}
.header-navigation .navbar-nav > li{text-align:left;width:100%}
.header-navigation .navbar-nav > li a{border:none;padding:7px 15px}
.navbar-header .logo { padding: 10px 0; width: 260px; margin-top: 0px; }
.navbar-header .logo img{ height:inherit; }
.navbar-nav .open .dropdown-menu,.mega-dropdown-menu{position:relative}
.navbar-toggle{border:medium none;margin:0;vertical-align:middle}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:rgba(0,0,0,0)}
.navbar-default .navbar-toggle .icon-bar{background-color:#f37d8a}
.menu-block:nth-child(n+2) .sub-list{margin:auto}
.menu-block:nth-child(n+2){border:none}
.product-menu{padding-top:2px; min-height: 40px;}
.navbar-nav > li > .dropdown-menu2col{width:100%;left:inherit; position: relative;}
.navbar-nav > li > .dropdown-menu2col li{width:100%;float:none}
.search-selectpicker,.search-cat{float:left;width:auto}
.search-selectpicker{width:35%}
.search-cat{width:100%}
.header-navigation .navbar-nav > li{border:medium none;margin:0;padding:0}
.top-navbar .navbar-toggle{margin:19px 0}
.cart-dropdown{left:15px;width:auto}
.cart-dropdown:before{border:none}
.main-slider .caption-text,.main-slider .style-2.caption-text{top:5%;width:90%}
.style-3 .caption-text{width:50%}
.caption-text .section-title{font-size:14px}
.caption-text .discount-list li,.main-slider.style-2 .slider-link p{font-size:12px}
.caption-text .funky-font{font-size:32px}
.caption-text .discount,.main-slider .style-4.caption-text .discount{font-size:16px;margin:3px 0}
.discount-list,.caption-text .dash-divider,.main-slider .style-4.caption-text .discount-list{margin:0}
.slider-link .btn{font-size:12px;margin:8px;padding:5px 14px}
.carousel-control.left{left:15px;right:auto}
.carousel-control.right{left:auto;right:15px}
.carousel-control.slider-btn{margin:unset;bottom:40%}
.caption-text .discount-list > li + li::before{padding-right:3px}
.caption-text .discount-list li{margin:0 3px}
.main-slider.style-2 .sub-title{font-size:18px}
.carousel-control.slider-btn-2.left{left:0}
.carousel-control.slider-btn-2.right{right:0}
.style-3 .carousel-control.slider-btn-2.left{left:-15px}
.style-3 .carousel-control.slider-btn-2.right{right:-15px}
.main-slider.style-2 .caption-text{left:45px}
.category-slider .item > img{max-width:none}
.top-rated-owl-slider .item,.best-sellers-owl-slider .item,.popular-items-owl-slider .item{margin-left:15px;margin-right:15px}
.slider-thumbnails li{height:50px;width:50px}
.img-bg,.result-wrap{float:none;margin:auto;text-align:center}
.result-wrap{margin-top:30px}
.personalize-form .form-group,.personalize > span{margin-bottom:20px;vertical-align:middle;width:100%;display:inline-block}
.personalize-form .radio-inline{float:left;margin-top:5px}
.radio-btn{padding-left:15px}
.category-wrap{margin-bottom:50px}
.category-wrap:last-child,.news-letter .newsletter-form p:last-child{margin-bottom:0}
.news-letter .space-35{padding-top:0}
.sub-title{font-size:18px}
.title-wrap.with-border{width:100%}
.circle-box{height:300px;width:300px}
.circle-box .text-box{width:80%;margin:0}
.banner-img{top:5%}
.newsletter .form-group{display:inline-block;float:left;width:auto}
.payment-options > ul{margin:25px 0 0;text-align:left}
.testimonials-slider-links .prev{margin:0 40px 0 0}
.testimonials-slider-links .slider-btn{top:15%}
.sorter{text-align:center}
.sorter .text-right{text-align:center}
.sorter .view-as,.sort-by,.show-as,.page-by,.show-items,.bottom-pagination{margin:5px 0;display:inline-block}
.sorter .no-padding{padding-left:15px;padding-right:15px}
.circle-list-box .box-right{padding-left:15px}
.cart-collaterals .block-box{margin:15px 0}
.product-table{display:block;overflow-x:auto;padding:0}
.product-table,.product-table th{font-size:14px}
.buttons-add-minus .minus,.buttons-add-minus .plus{border-radius:0;margin:0;width:32px}
.buttons-add-minus .qty{width:32px}
.product-table .total{font-size:16px}
.continue-shopping .cart-sub-total{font-size:18px}
.cart_totals_wrap{margin-top:20px}
.checkout-wrap .cart_totals_wrap{margin-top:40px}
.checkout-wrap .register-wrap{border-right:medium none;margin-bottom:30px;margin-top:30px}
.social-register-wrap .btn{display:table}
.contact-map iframe{height:auto}
.error-wrap,.error-wrap .text-right{text-align:center}
.error-info{border-left:none;padding-left:15px;padding-top:30px}
.subscribe-me{display:none!important}
.post-detail p{text-align:justify}
.comments-box ol{padding-left:35px}
.buttons-shortcode .btn{margin-bottom:15px}

.site-breadcrumb { text-align: center; padding: 10px 0; }
.product-variant{margin: 0px!important; display: block; }
.product-variant .urunSecimTable { padding: 0; border: 0; margin: 0px!important; display: block; }
.urunSecimTable tr { display: block; }
.urunSecimTable tr:nth-child(3) { margin-left: 0px; margin-top: 7px;}
.urunDetay .favoribtn {display:none;}
.urunDetay_benzer span.funky-font { font-size: 24px;}
.urunDetay_benzer .title-wrap {padding: 0px; }
.product-slider-warp .item { margin: 20px 0 10px; }
.urunDetay .product-price { margin: 10px 0px 10px 0px; text-align: center; }
.product-price h4 { display: inline-block; font-weight: 700; padding: 0px 0px 0px 5px; float: none; font-size: 15px; margin: 0 1px 0; background: none; color: #DF3D15; letter-spacing: -1px; height: 18px; }
.product-price .old-price { text-decoration: line-through; background: none; color: #999; font-size: 12px; padding: 3px 0; }
.product-name, .product-availability{ text-align: center; }
.product-name h3 { display: block; line-height: 17px; font-size: 15px; margin: 7px 0px 5px 0px; height: 35px; overflow: hidden;}
.payment-options > ul { margin: 5px 0 0; text-align: center; }
.copy-rights {text-align: center; }
.footer .footer_widget {padding: 10px 0;}
.product-indirim{position: absolute; right: 5px; top: 5px;}
.product-indirim .new-tag:before{display:none;}
.product-indirim .new-tag:after{display:none;}
.product-indirim .new-tag {border: medium none; bottom: auto; border-radius: 0px; box-sizing: content-box; height: inherit; left: auto; letter-spacing: 0; outline: medium none; position: relative; right: auto; text-align: center; text-decoration: none; text-indent: 0; text-overflow: clip; top: auto; white-space: normal; width: 30px; word-spacing: 0; z-index: 1;}
.product-indirim .new-tag a{font-size:13px;}
.product-cart {margin-top: 10px; text-align: center;}
.product-cart .add-to-cart{margin: 15px auto 0; float: none;}
.product-cart .add-to-cart .btn{font-size: 15px; padding: 7px 19px 7px 12px;}
.product-cart .add-to-cart .btn:after{display:none;}
.product-cart .adetSecim { float: none; margin: 0 auto;}
.product-cart .adetSecim label{display:none!important}
.urunDesc img {width:100%!important; height:100%!important; }
.product-overlay {display:none!important;}

#katfilter .widget-content {display:none}
#katfilter .downicon {display:inline-block;}
#pay-screen .card-wrapper {display:none!important}
#pay-screen .demo-wrapper { margin-top: -35px; }
#pay-screen .collapse.row > .column, .collapse.row > .columns { padding-left: 0px!important; padding-right: 0px!important; }
.urunDetay .memnuniyet{margin:20px 0px 15px; }

}
@media (max-width:768px) {
.product-thumbnails > li{height:55px;width:55px}
.product-thumbnails > li img{height:55px}
}
@media (max-width:768px) {
.navbar-header { float: none; }
.footer-meta {padding-bottom:70px;}
.brands-slider { padding: 0px 15px; position: relative; margin: 0; }
.product-etiket img.img_tukendi{width:55px!important;} 
.owl-theme .owl-controls .owl-buttons {}
.owl-theme .owl-controls .owl-buttons div {position: absolute; top: 50%; bottom: auto; font-size: 40px!important; color: #333!important; display: inline-block; opacity: 0.3!important; background: transparent!important; margin: 0px!important;}
.owl-theme .owl-controls .owl-buttons div.owl-prev {left:10px;}
.owl-theme .owl-controls .owl-buttons div.owl-next {right:10px;}
.owl-theme .owl-controls .owl-pagination{bottom: -30px; position: absolute; width: 100%;}
.owl-theme .owl-controls .owl-page span { background: #ace5ff!important; }
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span { background: #03a9f4!important; }
.mobileSliderwrap {padding:0px 15px}

.wrapSelectPay .payFooter .rulesBox { display:none; }
.wrapSelectPay .payFooter .rulesText { display:none; width: 90%!important; }
.wrapSelectPay .payFooter .rulesButtons { float: none!important; margin: 0 auto!important; width: 95%!important; }
.wrapSelectPay .selectMethods .payMethods .payTitle { margin-left: 40px!important; }

.product-variant .urunSecimTable { padding: 10px; border: 0; margin: 0px!important; display: block; text-align: center;}
.product-variant .urunSecimTable ul.urunSecim {width: 340px; margin: 0 auto;}
.product-variant .urunSecimTable ul.urunSecim li{float:none;}
.searchFrom .sf-form-container ul li{float:none!important; width: 100%!important;}
.searchFrom .sf-form-container ul li .sf-neutral-button {margin:0px!important; }

.breadcrumb-menubar {max-height: 20px; overflow: hidden; }
.sf-form-item-fullwidth .sf-form-textarea { overflow: hidden; max-height: 70px!important; width: 100%; max-width: inherit; min-width: inherit; }
.sf-form-item-fullwidth input.st-tel { width:260px!important; }
.sf-form-item-fullwidth input.st-telcode { width: 75px; }
.sf-form-item-fullwidth .sf-form-checkbox {margin: 8px 6px 0;}
.solblock { float: none; width: 100%; padding: 0; }
.sagblock { margin-top:0; float: none; width: 100%; padding: 0; }
.nav-tabs>li{float:none;margin-bottom:-1px}
.header-middle{border-bottom:1px dashed #e4e4e4;padding:10px 0}
.top-bar .blue-zig-zag{display:none}
.top-bar .bg-with-mask{background-image:none;border-bottom:1px solid #ddd}
.top-bar .bg-with-mask .blue-color-mask{background:#ddebf8}
.top-navbar .navbar-nav > li > a{color:#666}
.header-search .search-form{border-radius:0;border:1px solid #ccc}
.header-search .search-form .search-field{border-radius:0;padding:8px 20px}
.header-search .search-form .search-submit{height:30px;padding:0;right:14px;top:4px;width:30px}
.header-search .search-form label:before{right:22px;top:5px}
.header-cart{margin:15px 0 6px}
.header-cart .cart-btn { padding: 5px 8px; width: 100%; }
.product-tabs li{margin-right:0}
.product-tabs li a{border-radius:0}
.urunkatmenu{background:#03a9f4}
.urunkatmenu .navbar-default .navbar-toggle{float:left; display: block;}
.urunkatmenu .navbar-default .navbar-toggle .sr-only{position:absolute;width:200px;height:inherit;padding:0;margin:0;overflow:inherit;clip:inherit;border:0;text-align:left;left:44px;font-weight:700;font-size:16px;color:#fff;line-height:20px}
.urunkatmenu .navbar-default .navbar-toggle .icon-bar{background-color:#fff;width:26px;height:4px}
.urunkatmenu .navbar-default .navbar-collapse{background-color:#fff;margin-bottom:15px;margin-top:6px; display: none!important;}
.urunkatmenu .navbar-nav > li {border-bottom: 1px dashed #ddd; padding: 5px 0px;}
.urunkatmenu .navbar-nav > li a{ padding: 2px 15px; color:#222;}
.urunkatmenu .navbar-nav > li i{font-size: 23px; float: right; width: 40px; text-align: center; color: #222;}
.urunkatmenu .dropdown-menu {width: 100%; left: inherit; position: relative; background: inherit!important; box-shadow: none!important; border-radius: 0; margin-bottom:0!important;}
.urunkatmenu .dropdown-menu > li a{background: #30499b!important; border-bottom: 1px dotted #6379c0!important; color: #fff!important; padding: 6px 5px 6px 15px!important; display: block;}
.mainsliderx .owl-controls{top:35%}
.mainsliderx .item img{width:100%; height:auto;}
.mainsliderx .owl-controls .owl-buttons div{display: none!important; color:#aaa!important;padding:4px 7px!important;font-size:17px!important;border:2px solid #aaa!important;background:rgba(255,255,255,0.6)!important}
.urunDetay .product-indirim{position:absolute;right:30px;top:75px}
.m-padding-bottom-0{padding-bottom:0!important}
#gf_odemeTipi{width:95%!important}
.main-slider.style-4 .item{height:220px}
.forgot-pwd{float:none}
.login-wrap{padding-right:0}
.login-register .modal-content{padding:35px 15px}
.quotes-post .italic-font{margin-right:0;margin-left:0}
.top-rated-owl-slider .item,.best-sellers-owl-slider .item,.popular-items-owl-slider .item{margin-left:0;margin-right:0}
.blog-content .aouther-img{float:none!important;margin:0 0 20px}
.loginbtnx a { padding: 10px 5px 8px; text-align: center; margin: 0 auto 15px; display: block; width: 100%; border-radius: 0; border-bottom: 3px solid #BD2D09; font-size: 15px; font-weight: 700;}
.sepet-info { background: #FDF59C none repeat scroll 0 0; margin-bottom: 10px; color: #333; display: block; font-size: 14px; line-height: 21px; text-align: center; border: 1px solid #EADF6C; border-radius: 0px; padding: 5px 0; }
.sf-form-item-fullwidth select.sf-form-select { width: 100%; }
.basket-wrap .cart-qty { min-width: inherit; }
.sf-button { width: 100%; }
.l-innerDiv { padding: 15px; height: auto!important; }
.l-left, .l-right { width: 100%!important; height: auto!important; min-width: 100%!important; min-height: auto!important; }
.sp-login-input { padding: 5px!important; width: 100%!important; padding-left: 10px; height: 35px!important; border: 1px solid #ddd; margin: 3px 0 0!important; margin-left: 0!important; }
.loginWrapper{margin-bottom:0px!important;}
.loginWrapper .sf-button { width: 100%!important; min-height: 40px; }

}
@media (max-width:380px) {
.continue-shopping .shp-btn{float:none}
.shp-btn .btn{display:block;margin-bottom:15px}
.continue-shopping .cart-sub-total{text-align:center;float:none}
.widget-latest-post .post-info{float:none;margin:15px 0 0;width:100%}
.widget-latest-post .post-img{float:none}
.main-slider.style-2 .item{height:220px}
}
@media (max-width:320px) {
.sf-form-item-fullwidth input.st-tel { width: 205px!important; }
.main-slider.style-1 .item{}
.navbar-header .logo { padding: 10px 0; width: 235px; margin-top: 0px; }
.navbar-header .logo img{ height:inherit; }
.site-breadcrumb { text-align: center; padding: 10px 0; }
.urunSecimTable tr { display: block; }
.urunSecimTable tr:nth-child(3) { margin-left: 0px; margin-top: 7px;}
.urunDetay .favoribtn {display:none;}
.urunDetay_benzer span.funky-font { font-size: 24px;}
.urunDetay_benzer .title-wrap {padding: 0px; }
.payment-options > ul { margin: 5px 0 0; text-align: center; }
.copy-rights {text-align: center; }
.footer .footer_widget {padding: 10px 0;}
.product-cart { margin-top: 15px; }
.product-cart .add-to-cart .btn{font-size: 12px; padding: 9px 10px 8px 10px!important;}
.product-cart .add-to-cart .btn i{display:none!important;}
.menufix a { font-size: 10px;}
}