body { background-color:#eee; }
#cron-log { width:800px; padding:20px; margin:auto; margin-top:50px; border:10px solid green; font-family:tahoma; font-size:12px; line-height:18px; background-color:#fff; }
h1 { font-family:tahoma;}