.close { margin-top:4px; float:right; }

.taksit-container {float:left; width:260px; padding-right:10px; padding-bottom:10px; white-space: nowrap;}

.genel_taksitDiv { border:0px solid #ddd; padding:4px; color:#555555; font-weight:bold; white-space:nowrap; font-size:12px; }
.genel_taksitDiv table { background-color:#fff }
.genel_taksitDiv td { background-color:#fff; }
.genel_taksitDiv .taksitTopHeader { text-align:center; background-color:#66cc33; color:#FFFFFF; padding:4px;}
.genel_taksitDiv .taksitSayisi { width:50px; height:46px; text-align:center; }
.genel_taksitDiv .taksitHeader { color:#fff; background-color:#66cc33; text-align:center; width:110px; padding:4px;  }
.genel_taksitDiv .taksitHeaderEmpty { background-color:#66cc33; }
.genel_taksitDiv .td1,.genel_taksitDiv .td2,.genel_taksitDiv .td3 { text-align:center; height:20px; }
.genel_taksitDiv .sep { font-weight:normal; background-color:#fff; width:1px; overflow:hidden; }
.genel_taksitDiv .td1 { background-color:#fff; width:50px; border-bottom: 1px dashed #ccc; border-right: 1px dashed #ccc;  }
.genel_taksitDiv .td2 { background-color:#fff; border-bottom: 1px dashed #ccc; border-right: 1px dashed #ccc;  }
.genel_taksitDiv .td3 { background-color:#fff; border-bottom: 1px dashed #ccc;  }
.genel_taksitDiv .pesin td { background-color:#ffdeff;  }
.genel_taksitDiv .colorBold { color:#88c337 }

/* �� Bankas� */
.isbank_taksitDiv { border:0px solid #ddd; padding:4px; color:#555555; font-weight:bold; }
.isbank_taksitDiv table { background-color:#ddd }
.isbank_taksitDiv td { background-color:#fff; }
.isbank_taksitDiv .taksitTopHeader { text-align:center; background-color:#df1063; color:#FFFFFF; padding:4px;}
.isbank_taksitDiv .taksitSayisi { width:50px; height:46px; text-align:center; }
.isbank_taksitDiv .taksitHeader { color:#fff; background-color:#df1063; text-align:center; width:110px; padding:4px;  }
.isbank_taksitDiv .taksitHeaderEmpty { background-color:#df1063; }
.isbank_taksitDiv .td1,.isbank_taksitDiv .td2,.isbank_taksitDiv .td3 { text-align:center; height:20px; }
.isbank_taksitDiv .sep { font-weight:normal; background-color:#fff; width:1px; overflow:hidden; }
.isbank_taksitDiv .td1 { background-color:#fff; width:50px; }
.isbank_taksitDiv .td2 { background-color:#fff;  }
.isbank_taksitDiv .td3 { background-color:#fff;  }
.isbank_taksitDiv .pesin td { background-color:#ffdeff;  }
.isbank_taksitDiv .colorBold { color:#88c337 }

/* Yap� Kredi */
.yapikredi_taksitDiv { border:0px solid #ddd; padding:4px; color:#555555; font-weight:bold; }
.yapikredi_taksitDiv table { background-color:#ddd }
.yapikredi_taksitDiv td { background-color:#fff; }
.yapikredi_taksitDiv .taksitTopHeader { text-align:center; background-color:#68207f; color:#FFFFFF; padding:4px;}
.yapikredi_taksitDiv .taksitSayisi { width:50px; height:46px; text-align:center; }
.yapikredi_taksitDiv .taksitHeader { color:#fff; background-color:#68207f; text-align:center; width:110px; padding:4px;  }
.yapikredi_taksitDiv .taksitHeaderEmpty { background-color:#68207f; }
.yapikredi_taksitDiv .td1,.yapikredi_taksitDiv .td2,.yapikredi_taksitDiv .td3 { text-align:center; height:20px; }
.yapikredi_taksitDiv .sep { font-weight:normal; background-color:#fff; width:1px; overflow:hidden; }
.yapikredi_taksitDiv .td1 { background-color:#fff; width:50px; }
.yapikredi_taksitDiv .td2 { background-color:#fff;  }
.yapikredi_taksitDiv .td3 { background-color:#fff;  }
.yapikredi_taksitDiv .pesin td { background-color:#dee1ff;  }
.yapikredi_taksitDiv .colorBold { color:#88c337 }

/* Garanti Bankas� */
.garanti_taksitDiv { border:0px solid #ddd; padding:4px; color:#555555; font-weight:bold; }
.garanti_taksitDiv table { background-color:#ddd }
.garanti_taksitDiv td { background-color:#fff; }
.garanti_taksitDiv .taksitTopHeader { text-align:center; background-color:#66cc33; color:#FFFFFF; padding:4px;}
.garanti_taksitDiv .taksitSayisi { width:50px; height:46px; text-align:center; }
.garanti_taksitDiv .taksitHeader { color:#fff; background-color:#66cc33; text-align:center; width:110px; padding:4px;  }
.garanti_taksitDiv .taksitHeaderEmpty { background-color:#66cc33; }
.garanti_taksitDiv .td1,.garanti_taksitDiv .td2,.garanti_taksitDiv .td3 { text-align:center; height:20px; }
.garanti_taksitDiv .sep { font-weight:normal; background-color:#fff; width:1px; overflow:hidden; }
.garanti_taksitDiv .td1 { background-color:#fff; width:50px; }
.garanti_taksitDiv .td2 { background-color:#fff;  }
.garanti_taksitDiv .td3 { background-color:#fff;  }
.garanti_taksitDiv .pesin td { background-color:#dee2ff;  }
.garanti_taksitDiv .colorBold { color:#88c337 }

.paytr-table-cell-head img {height: 30px;display: block;margin: 0 auto;padding: 6px 0;}
.paytr-table-bold {color: #434d57;font-weight: bold;}
.paytr-table-toplam{color: #737373;font-size: 12px;}
.paytr-table-cols > .paytr-table-cell {width: 16.6%;}
.paytr-table {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin: 0 0 3em 0;padding: 0;font-family: Arial, sans-serif;font-size: 14px;}
.paytr-table-cell{box-sizing: border-box;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;width: 100%;padding: 0.5em 1em;overflow: hidden;list-style: none;border: solid 1px #ffffff;}
.paytr-table-cell{text-align: center;margin: -4px 0 0 -4px;background-color: #ffffff;border-color: #f1f1f1;}
.paytr-table-cell:hover{cursor: default;background-color: #F3F3F3;}
.paytr-table-cell-head{padding: 0.5em;color: #ffffff;border-color: #f1f1f1;background-color: #ffffff;}
.no-flexbox .paytr-table{display: block;}
.no-flexbox .paytr-table > .paytr-table-cell{width: 100%;}
@media all and (max-width: 700px) {.paytr-table {display: block;}.paytr-table > .paytr-table-cell {font-size: 16px !important;width: 100% !important;}.paytr-table-cell-head img {height: auto;}}