/* Form Setup */
.bireysel,.kurumsal { display: inline;}



@media only screen and (min-width: 800px) {
	form.formv2 .sf-form-container  ul  li { float:left; width:45%; margin-right:2.5%; }
	form.formv2 .sf-form-container  ul  li.sf-form-header { width:100%; clear:both; }
	form.formv2 .sf-form-item-fullwidth .sf-form-textarea { width:100% !important; min-width:inherit !important;}
}

@media only screen and (min-width: 800px) {
	form.formv3 .sf-form-container  ul  li { float:left; width:30%; margin-right:2.5%; }
	form.formv3 .sf-form-container  ul  li.sf-form-header { width:100%; clear:both; }
	form.formv3 .sf-form-item-fullwidth .sf-form-textarea { width:100% !important; min-width:inherit !important;}
}

.sf-icon { right:-22px !important; top:3px !important; z-index:200;  }
.sf-form-item-fullwidth table { margin:0; padding:0; width:auto; }
.sf-form-item-fullwidth table td { margin:0; padding:0; width:auto; }
.sf-form-container sup { position:absolute;  right:15px; top:5px;  }

.sf-form-container { background: #fff; border:none; margin:0; padding:0; }
.sf-form-container  h2 { padding: 20px; background: #95a4a7; border-radius: 5px 5px 0 0; color: #bec3c7; font-familyx: 'Open Sans', sans-serif; text-align: center; font-weight: bold; font-size: 2em; }
.sf-form-container > ul { padding:0; margin:0; overflow: hidden; }
.sf-form-container > ul > li { position: relative; overflow: visible; }
.sf-form-container > ul > li.left { clear: both; }
.sf-form-container  div { position: relative; overflow: visible; padding-bottom: 8px; clear:both; }
.sf-form-container div.fatura { display:none; }

/* ---------------- */
/* Form Labels */

.sf-text-label { display: inline-block !important; font-familyx: 'Open Sans', sans-serif; line-height: 2em; color: #393E46; font-size: 1.0em; }

.sf-form-checkbox + .sf-text-label { width: auto; line-height: 1.5em; }
.sf-form-radio + .sf-text-label { width: auto; line-height: 1.5em; }

.sf-form-header { clear: both; font-size: 1.3em; font-weight: bolder; color: #393E46; padding: 20px 0 10px; border-bottom: 1px dotted #ccc; }
.sf-form-header label { display:inline-block !important; }
/* ---------------- */
/* Form Fields */

.sf-form-input,
.sf-form-textarea ,
.sf-form-select { outline: none; border: 1px solid #ccd0d3; border-radius: 5px; padding: 5px 6px; font-familyx: 'Open Sans', sans-serif; color: #393E46; font-size: 0.95em; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; -o-transition: all 0.25s ease-out; -ms-transition: all 0.25s ease-out; transition: all 0.25s ease-out; box-sizing: border-box; -moz-box-sizing: border-box; margin: 0; background: #fff; max-width:95%; }

.sf-form-input:focus,
.sf-form-textarea:focus,
.sf-form-select:focus { border-color: #7e8c8d; }

.sf-form-input {  }
.sf-form-textarea { resize: none; height: 99px; }
.sf-form-select { margin: 0; }
.sf-form-checkbox,
.sf-form-radio { float: left; margin: 4px 8px 0 0; }

::-webkit-input-placeholder { color: #ccc; font-familyx: 'Open Sans', sans-serif; font-style: italic; font-size: 0.95em; padding-top: 2px; }
:-moz-placeholder { /* Firefox 18- */ color: #ccc; font-familyx: 'Open Sans', sans-serif; font-style: italic; font-size: 0.95em; padding-top: 2px; }
::-moz-placeholder { /* Firefox 19+ */ color: #ccc; font-familyx: 'Open Sans', sans-serif; font-style: italic; font-size: 0.95em; padding-top: 2px; }
:-ms-input-placeholder { color: #ccc; font-familyx: 'Open Sans', sans-serif; font-style: italic; font-size: 0.95em; padding-top: 2px; }

._sf-file-label { display: inline-block; font-familyx: 'Open Sans', sans-serif; line-height: 2em; background: #393E46; border-bottom: 3px solid #243445; text-align: center; text-decoration: none; color: #fff; font-size: 0.95em; padding: 0 14px; border-radius: 5px; border: none; cursor: pointer; font-weight: bold; }
.sf-file-label:hover { opacity: 0.75; }
._sf-form-file { position: absolute; left: -9999px; }
._sf-form-filename { display: inline-block; font-familyx: 'Open Sans', sans-serif; line-height: 2em; color: #393E46; font-size: 0.95em; line-height: 2em; }

/* ---------------- */
/* Form Buttons */



.xsf-button-large { font-size: 1.3em; }

.sf-primary-button { background: #1abc9c; }
.sf-secondary-button { background: #393E46; }
.sf-neutral-button { background: #ff5b01;  }
.sf-negative-button { background: #ec4c40;  }
.sf-disabled-button { background: #d5d8da;  color: #b8bbbc; cursor: default; }
.sf-disabled-button:hover { opacity: 1; }


/* ---------------- */
/* Form Validation */

/* icons */

.sf-icon { position: absolute; right: 0px; top: 7px; display: block; width: 20px; height: 20px; background: url(../images/icons.png) no-repeat; }

.sf-icon-warning { background-position: 0 0; }
.sf-icon-success { background-position: -40px 0; }
.sf-icon-info { background-position: -80px 0; }

/* form elements */

.sf-form-item-warning label { color: #f2af00; }
.sf-form-item-warning input,
.sf-form-item-warning textarea,
.sf-form-item-warning select { border-color: #f2af00; }

.sf-form-item-warning input:focus,
.sf-form-item-warning textarea:focus,
.sf-form-item-warning select:focus { border-color: #f2af00; }

.sf-form-item-warning ::-webkit-input-placeholder { color: #dccda7; }
.sf-form-item-warning :-moz-placeholder { /* Firefox 18- */ color: #dccda7; }
.sf-form-item-warning ::-moz-placeholder { /* Firefox 19+ */ color: #dccda7; }
.sf-form-item-warning :-ms-input-placeholder { color: #dccda7; }

/* message */

.sf-form-message { margin: 20px 20px 0; padding: 8px 10px 10px; border-radius: 5px; }
.sf-form-message p { font-familyx: 'Open Sans', sans-serif; font-size: 0.95em; color: #fff; }
.sf-form-message .sf-icon { position: relative; display: inline-block; top: 4px; padding-right: 3px; }

.sf-form-message .sf-icon-warning { background-position: 0 -30px; }
.sf-form-message .sf-icon-success { background-position: -40px -30px; }
.sf-form-message .sf-icon-info { background-position: -80px -30px; }

.sf-form-message-warning { background: #f2c40f; }

.sf-form-message-success { background: #30cb6f; }

.sf-form-message-info { background: #5face2; }

/* ---------------- */
/* Form Layouts */

.sf-form-item-fullwidth { width: 100%; padding: inherit !important; height: inherit !important; min-height: inherit !important; }
.sf-form-item-2column { width: 46%; }

/* full width */

.sf-form-item-fullwidth .sf-text-label { float: left; width: 20%; min-width:150px; }
.sf-form-item-fullwidth .sf-form-input,
.sf-form-item-fullwidth .sf-form-textarea,
.sf-form-item-fullwidth .sf-form-select { width: 250px; }
.sf-form-item-fullwidth .sf-form-checkbox,
.sf-form-item-fullwidth .sf-form-radio {  }
.sf-form-item-fullwidth .sf-form-textarea { width:75%; max-width:500px; min-width:400px; }

/* 2 column */

.sf-form-item-2column .sf-text-label { display: block; float: none; width: auto; }
.sf-form-item-2column .sf-form-input,
.sf-form-item-2column .sf-form-textarea,
.sf-form-item-2column .sf-form-select { width: 100% }
.sf-form-item-2column .sf-form-checkbox,
.sf-form-item-2column .sf-form-radio { margin-left: 0; }

/* ---------------- */
/* Responsive */

@media only screen and (min-width: 1176px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (max-width: 767px) {
	
	 .sf-form-item-fullwidth .sf-form-textarea { width:100%; min-width:auto; }

.left { float: none; }
.right { float: none; }

/* ---------------- */
/* Form Layouts */

/* full width */

.sf-form-item-fullwidth .sf-icon { top: 8px; }
.sf-form-item-fullwidth .sf-text-label { display: block; float: none; width: auto; }
.sf-form-item-fullwidth .sf-form-input,
.sf-form-item-fullwidth .sf-form-textarea,
.sf-form-item-fullwidth .sf-form-select { width: 100% }
.sf-form-item-fullwidth .sf-form-checkbox,
.sf-form-item-fullwidth .sf-form-radio { margin-left: 0; }

.sf-form-item-2column { width: 100%; }

}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
/* ---------------- */
/* Form Validation */

/* icons */

.sf-icon { -webkit-background-size: 190px 50px; }

.sf-icon-warning { background-position: -60px 0; }
.sf-icon-success { background-position: -100px 0; }
.sf-icon-info { background-position: -140px 0; }

/* message */

.sf-form-message .sf-icon-warning { background-position: -60px -30px; }
.sf-form-message .sf-icon-success { background-position: -100px -30px; }
.sf-form-message .sf-icon-info { background-position: -140px -30px; }

}
.sf-form-item-fullwidth select.sf-form-select { width:250px; margin-right: 5px; }
.sf-form-item-fullwidth input.st-telcode{ width:50px; }
.sf-form-item-fullwidth input.st-tel { width:169px; }
.sf-form-item-fullwidth select.st-gun,.sf-form-item-fullwidth select.st-ay,.sf-form-item-fullwidth select.st-yil { width:90px; }
.sf-label { position:relative; top:5px; }
.sf-form-item-fullwidth .price1, .sf-form-item-fullwidth .price2 { width:118px; }
.sf-form-info { line-height:27px; display:inline-block; padding:0; margin:0; }
.stn-dialog, .stn-dialoguye,textarea#gf_acceptRules { display:none; border:1px solid #ccd0d3; border-radius:5px; padding:10px; height:200px; overflow:auto; width:95%; clear:both; float:left; }
.stn-dialoguye,textarea#gf_acceptRules { display:block; width:95%; max-width:95%;}
