
#pay-screen *
{
    box-sizing: border-box !important;
}
#pay-screen input { border:1px solid #aaa !important; border-radius: 5px; margin-right: 5px;;}
.cc-submit-button { width: 218px !important; }
.cc-odeme-aciklama {
    clear: both;
    font-size: 18px;
    padding-left: 10px;
}

.form-container {
    max-width: 450px;
    float: left;
    clear: none;
    padding-right: 20px;
}

.card-wrapper {
    float: right;
    margin-bottom: 40px;
}

.demo-wrapper .code-container,
.demo-wrapper .demo-container,
.demo-wrapper .explainer-container {
    padding: 10px;
    margin: 10px 0;
}

.demo-wrapper .demo-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width: auto;
    max-width: 100%;
    min-width: 350px;
}

.clear-space h3 {
    font-family: proxima600;
    margin-top: 17px;
    font-size: 20px;
    margin-bottom: 5px;
}

.demo-wrapper {
    width: 100%;
}

.column,
.columns {
    padding-left: 14.88px;
    padding-right: 14.88px;
    width: 100%;
    float: left;
}

/* @media only screen */
.column,
.columns {
    position: relative;
    padding-left: 14.88px;
    padding-right: 14.88px;
    float: left;
}

/* @media only screen */
.small-3 {
    width: 25%;
}

/* @media only screen */
.small-6 {
    width: 50%;
}

/* @media only screen and (min-width:40.06em) */
.demo-wrapper .column,
.demo-wrapper .columns {
    position: relative;
    padding-left: 14.88px;
    padding-right: 14.88px;
    float: left;
    margin: 0;
    margin-bottom: 10px;
}

/* @media only screen and (min-width:64.06em) */
.column,
.columns {
    position: relative;
    padding-left: 14.88px;
    padding-right: 14.88px;
    float: left;
}

.collapse.row > .column,
.collapse.row > .columns {
    padding-left: 0px;
    padding-right: 0px;
}

/* @media only screen */
[class*="column"] + [class*="column"]:last-child {
    float: right;
}

/* @media only screen and (min-width:40.06em) */
[class*="column"] + [class*="column"]:last-child {
    float: right;
}

/* @media only screen and (min-width:64.06em) */
[class*="column"] + [class*="column"]:last-child {
    float: right;
}

.demo-wrapper button,
.demo-wrapper .button {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 1.06rem;
    padding-left: 32px;
    font-size: 16px;
    background-color: #007295;
    height: auto !important;
    color: #fff;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.demo-wrapper button,
.demo-wrapper .button {
    display: inline-block;
}

.prefix,
.postfix {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    font-size: 14px;
}

.demo-wrapper input[type="submit"] {
    -webkit-appearance: none;
    margin-top: 10px;
}

#pay-screen .demo-wrapper input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    height: auto;
    line-height: inherit;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

#pay-screen .small-3 input[type="text"] {
    width: 90%;  
}

.demo-wrapper input::placeholder {
    color: #999;
    font-style: italic;
}

.demo-wrapper select {
    padding: 16px;
    background-color: #fff;
    border: 2px dotted orange;
    margin-bottom: 10px;

}

.button.postfix {
    padding: 15px;
    padding-bottom: 16px;
    text-align: center;
    line-height: auto;
    border: none;
}

.form-container input[name="number"],
.form-container input[name="expiry"] {
    border-right: none;
}

@media (max-width: 1000px) {
    .demo-wrapper .demo-container {
        width: 100%;
        background: none;
    }

    .card-wrapper {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 23px;
    }

    .form-container {
        float: none;
        margin: auto;
    }
}

@media (max-width: 460px) {
    .demo-wrapper {
        background: none;
    }

    .demo-wrapper .demo-container {
        width: 100%;
        padding: 0;
        border: none;
        background-color: inherit;
    }

    .form-container.active {
        margin: 0;
        padding: 0;
    }

    .card-wrapper {
        display: none;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 23px;
    }

    .jp-card {
        width: 56%;
        height: 88%;
        min-width: 300px;

        margin-left: auto;
        margin-right: auto;
    }

    .form-container {
        width: 100%;
        min-width: auto;
        margin: 30px auto;
        margin-top: 40px;
        float: none;
    }

    .cc-taksit select {
        width: 100%;
    }

    .clear-space h3 {
        font-family: proxima600;
        margin-top: 16px;
        font-size: 16px;
        margin-bottom: 5px;
        display: block;
        text-align: center;
    }

    .clear-space p {
        font-size: 12px;
        text-align: center;
    }
}

.row.collapse {
    margin: 0 !important;
}

.small-5.columns {
    width: 45% !important;
    padding-right: 0px !important;
}

.demo-wrapper select {

    width: 100%;
}