.collapse {
    display: block;
}

#pay-screen {
    width: 642px;
}

#pay-screen *
{
    box-sizing: content-box !important;
}

.taksit select {
    line-height: 30px;
}

#pay-screen h1 {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #7c827a;
    margin-bottom: 60px;
}



.form-element {
    margin-top: 10px;
}

.form-element label {
    width: 180px;
    color: #545454;
    display: block;
    float: left;
    line-height: 34px;
    margin-right: 20px;
}

input.name {
    width: 305px;
    height: 25px;
    float: left;
}

input.card-number {
    width: 68px;
    height: 25px;
    float: left;
    margin-right: 3px;
}

.card-type {
    float: left;
}

img.tick {
    float: left;
    margin: 9px 0 0 10px;
}

img.active {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

@media only screen and (max-width: 768px) {
    .form-element label {
        clear: both;
        float: none;
    }
}
