<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<!-- css -->
	<link rel="stylesheet" href="css/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- //css -->
	<!-- javascript -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="js/jquery.anchor.js"></script>
	<script type="text/javascript" language="javascript" src="js/easytabs.js"></script>
	<!-- //javascript -->
	<title>Shopio - Anasayfa</title>
</head>
<body>
<!-- header -->
<div class="header">
	<div id="yukari"></div>
	<div class="wrapper">
		<!-- header left -->
		<div class="header-left">
			<div class="support"><img src="img/support.png" alt="" /> Bilgi ve Danışma <span>0212 414 08 58</span></div>
			<div class="logo"><a href=""><img src="img/logo.png" alt="" /></a></div>
		</div>
		<!-- //header left -->
		<!-- header middle -->
		<div class="header-middle">
			<div class="head-menu">
				<ul>
					<li><a href="">Yardım</a></li>
					<li><a href="">Hakkımızda</a></li>
					<li><a href="">Sipariş</a></li>
					<li><a href="">İletişim</a></li>
				</ul>
			</div>
			<div style="clear:both;"></div>
			<div class="search">
				<form action="">
					<input type="text" placeholder="Aranacak Kelimeler" class="s-box" />
					<input type="submit" value="" class="s-btn" />
				</form>
				<div style="clear:both;"></div>
			</div>
		</div>
		<!-- //header middle -->
		<!-- header right -->
		<div class="header-right">
			<div class="user-menu">
				<ul>
					<li><a href=""><img src="img/login.png" alt="" /> Giriş Yap</a></li>
					<li><a href=""><img src="img/register.png" style="margin-top:4px; "alt="" /> Kayıt Ol</a></li>
				</ul>
			</div>
			<div style="clear:both;"></div>
			<div class="basket"><a href="">1</a></div>
		</div>
		<!-- //header right -->
		<div style="clear:both;"></div>
	</div>
	<!-- main menu -->
	<div class="main-menu">
		<div class="wrapper">
			<ul>
				<li><a href=""><img src="img/home.png" alt="" />Tüm Kategoriler</a></li>
				<li><a href="">İndirimli Ürünler</a></li>
				<li><a href="">Kampanyalı</a></li>
			</ul>
		</div>
	</div>
	<!-- //main menu -->
</div>
<!-- //header -->
<!-- content -->
<div class="content">
	<div class="wrapper">
		<!-- sidebar -->
		<div class="sidebar">
			<!-- sidebarmenu -->
			<div class="sidebar-menu sidebar-box">
				<ul>
					<li><a href="">Araç Aksesuarları</a></li>
					<li><a href="">Giyim ve Kıyafet</a></li>
					<li><a href="">Oto Ürünleri</a></li>
					<li><a href="">Ev Tekstili</a></li>
					<li><a href="">Mobilya ve Tasarım</a></li>
					<li><a href="">Dekorasyon</a></li>
					<li><a href="">Fotoğraf ve Kamera</a></li>
					<li><a href="">Anne Bebek Ürünleri</a></li>
					<li><a href="">Spor Outdoor</a></li>
					<li><a href="">Kamp Ürünleri</a></li>
				</ul>
			</div>
			<!-- //sidebarmenu -->
			<!-- survey -->
			<div class="survey sidebar-box">
				<div class="sidebar-title">ANKET</div>
				<div class="survey-question">Siteye Anket Eklensin mi?</div>
				<div class="survey-answer">
					<a href="">Evet</a>
					<a href="">Hayır</a>
				</div>
			</div>
			<!-- //survey -->
			<!-- populars -->
			<div class="populars sidebar-box">
				<div class="sidebar-title">ÇOK SATANLAR</div>
				<ul>
					<!-- product -->
					<li>
						<div class="popular-image"><a href=""><img src="img/popular.png" alt="" /></a></div>
						<div class="popular-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
						<div style="clear:both;"></div>
						<div class="popular-old">2,460,00 TL</div>
						<div class="popular-new">1,890,00 TL</div>
						<div style="clear:both;"></div>
					</li>
					<!-- //product -->
					<!-- product -->
					<li>
						<div class="popular-image"><a href=""><img src="img/popular.png" alt="" /></a></div>
						<div class="popular-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
						<div style="clear:both;"></div>
						<div class="popular-old">2,460,00 TL</div>
						<div class="popular-new">1,890,00 TL</div>
						<div style="clear:both;"></div>
					</li>
					<!-- //product -->
					<!-- product -->
					<li>
						<div class="popular-image"><a href=""><img src="img/popular.png" alt="" /></a></div>
						<div class="popular-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
						<div style="clear:both;"></div>
						<div class="popular-old">2,460,00 TL</div>
						<div class="popular-new">1,890,00 TL</div>
						<div style="clear:both;"></div>
					</li>
					<!-- //product -->
					<!-- product -->
					<li>
						<div class="popular-image"><a href=""><img src="img/popular.png" alt="" /></a></div>
						<div class="popular-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
						<div style="clear:both;"></div>
						<div class="popular-old">2,460,00 TL</div>
						<div class="popular-new">1,890,00 TL</div>
						<div style="clear:both;"></div>
					</li>
					<!-- //product -->
				</ul>
			</div>
			<!-- //populars -->
			<!-- banner -->
			<div class="banner"><img src="img/banner.png" alt="" /></div>
			<!-- //banner -->
			<!-- news -->
			<div class="news sidebar-box">
				<div class="sidebar-title">HABERLER</div>
				<ul>
					<li><a href="">Firmamız her geçen gün büyüyor farkettiniz mi?</a></li>
					<li><a href="">Komşu kızı kardeştir kaldır kaldır yerleştir</a></li>
				</ul>
			</div>
			<!-- //news -->
		</div>
		<!-- //sidebar -->
		<!-- content area -->
		<div class="main-content">
			<div style="clear:both;"></div>
			<!-- main slider -->
			<div class="main-slider">
				<!--Start Tabcontent 1 -->
				<div id="tabcontent1"><img src="img/slider1.jpg" alt="" /></div>
				<!--End Tabcontent 1-->

				<!--Start Tabcontent 2-->
				<div id="tabcontent2"><img src="img/slider2.jpg" alt="" /></div>
				<!--End Tabcontent 2 -->

				<!--Start Tabcontent 3-->
				<div id="tabcontent3"><img src="img/slider3.jpg" alt="" /></div>
				<!--End Tabcontent 3-->

				<!--Start Tabcontent 4-->
				<div id="tabcontent4"><img src="img/slider4.jpg" alt="" /></div>
				<!--End Tabcontent 4-->
				
				<!--Start Tabcontent 5-->
				<div id="tabcontent5"><img src="img/slider5.jpg" alt="" /></div>
				<!--End Tabcontent 5-->
				
				<!--Start Tabcontent 6-->
				<div id="tabcontent6"><img src="img/slider6.jpg" alt="" /></div>
				<!--End Tabcontent 6-->
				
				<!--Start Tabcontent 7-->
				<div id="tabcontent7"><img src="img/slider7.jpg" alt="" /></div>
				<!--End Tabcontent 7-->
				
				<!--Start Tabcontent 8-->
				<div id="tabcontent8"><img src="img/slider8.jpg" alt="" /></div>
				<!--End Tabcontent 8-->
				
				<!--Start Tabcontent 9-->
				<div id="tabcontent9"><img src="img/slider9.jpg" alt="" /></div>
				<!--End Tabcontent 9-->
				
				<!--Start Tabcontent 10-->
				<div id="tabcontent10"><img src="img/slider10.jpg" alt="" /></div>
				<!--End Tabcontent 10-->
				
				
				<!-- thumbnails -->
				<div class="thumbnails">
					<ul>
						<li><a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');" onclick="return false;"  title="" id="tablink1"><img src="img/thumb1.png" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');" onclick="return false;"  title="" id="tablink2"><img src="img/thumb2.png" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '3');" onfocus="easytabs('1', '3');" onclick="return false;"  title="" id="tablink3"><img src="img/thumb3.png" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '4');" onfocus="easytabs('1', '4');" onclick="return false;"  title="" id="tablink4"><img src="img/thumb4.jpg" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '5');" onfocus="easytabs('1', '5');" onclick="return false;"  title="" id="tablink5"><img src="img/thumb5.jpg" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '6');" onfocus="easytabs('1', '6');" onclick="return false;"  title="" id="tablink6"><img src="img/thumb6.jpg" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '7');" onfocus="easytabs('1', '7');" onclick="return false;"  title="" id="tablink7"><img src="img/thumb7.png" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '8');" onfocus="easytabs('1', '8');" onclick="return false;"  title="" id="tablink8"><img src="img/thumb8.png" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '9');" onfocus="easytabs('1', '9');" onclick="return false;"  title="" id="tablink9"><img src="img/thumb9.png" alt="" /></a></li>
						<li><a href="#" onmouseover="easytabs('1', '10');" onfocus="easytabs('1', '10');" onclick="return false;"  title="" id="tablink10"><img src="img/thumb10.png" alt="" /></a></li>
					</ul>
				</div>
				<!-- //thumbnails -->
			</div>
			<!-- //main slider -->
			<!-- small slider -->
			<div class="small-slider">
				<img src="img/campbant.png" alt="" class="camp-bant" />
				<ul class="campaign-slider">
					<!-- product -->
					<li>
						<div class="slider-product">
							<div class="slider-discount">%18</div>
							<div class="slider-product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="slider-product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="slider-product-price">
								<div class="slider-old-price">2,460,00 TL</div>
								<div class="slider-new-price">1,890,00 TL</div>
							</div>
							<div class="slider-view-btn"><a href="">ÜRÜN İNCELE</a></div>
						</div>
					</li>
					<!-- //product -->
				</ul>
				<script type="text/javascript">
					$(document).ready(function(){
					  $('.campaign-slider').bxSlider({
						slideWidth: 200,
						minSlides: 1,
						maxSlides: 4,
						slideMargin: 0
					  });
					});
				</script>
			</div>
			<!-- //small slider -->
			<div style="clear:both;"></div>
			<!-- info bar -->
			<div class="info-bar">Sitemizden Tüm Ürünleri Kredi Kartına <b>9 Taksitle Satın Alın</b></div>
			<!-- //info bar -->
			<!-- home slider -->
			<div class="home-slider">
				<div class="slider-title"><img src="img/slidertitle.png" alt="" /></div>
				<ul class="home-product-slider">
					<!-- product -->
					<li>
						<div class="slider-product">
							<div class="slider-discount">%18</div>
							<div class="slider-product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="slider-product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="slider-product-price">
								<div class="slider-old-price">2,460,00 TL</div>
								<div class="slider-new-price">1,890,00 TL</div>
							</div>
							<div class="slider-view-btn"><a href="">ÜRÜN İNCELE</a></div>
						</div>
					</li>
					<!-- //product -->
					<!-- product -->
					<li>
						<div class="slider-product">
							<div class="slider-discount">%18</div>
							<div class="slider-product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="slider-product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="slider-product-price">
								<div class="slider-old-price">2,460,00 TL</div>
								<div class="slider-new-price">1,890,00 TL</div>
							</div>
							<div class="slider-view-btn"><a href="">ÜRÜN İNCELE</a></div>
						</div>
					</li>
					<!-- //product -->
					<!-- product -->
					<li>
						<div class="slider-product">
							<div class="slider-discount">%18</div>
							<div class="slider-product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="slider-product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="slider-product-price">
								<div class="slider-old-price">2,460,00 TL</div>
								<div class="slider-new-price">1,890,00 TL</div>
							</div>
							<div class="slider-view-btn"><a href="">ÜRÜN İNCELE</a></div>
						</div>
					</li>
					<!-- //product -->
					<!-- product -->
					<li>
						<div class="slider-product">
							<div class="slider-discount">%18</div>
							<div class="slider-product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="slider-product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="slider-product-price">
								<div class="slider-old-price">2,460,00 TL</div>
								<div class="slider-new-price">1,890,00 TL</div>
							</div>
							<div class="slider-view-btn"><a href="">ÜRÜN İNCELE</a></div>
						</div>
					</li>
					<!-- //product -->
				</ul>
				<script type="text/javascript">
					$(document).ready(function(){
					  $('.home-product-slider').bxSlider({
						slideWidth: 190,
						minSlides: 4,
						maxSlides: 4,
						slideMargin: 0
					  });
					});
				</script>
				<div style="clear:both;"></div>
			</div>
			<!-- //home slider -->
			<!-- home banner -->
			<div class="home-banner"><img src="img/banner2.png" alt="" /></div>
			<!-- //home banner -->
			<!-- home products -->
			<div class="home-products">
				<ul id="tab-titles">
					<li>Yeni Gelenler</li>
					<li>Hızlı Kargo</li>
					<li>Sınırlı Stok</li>
					<li>Hızlı Kargo</li>
				</ul>
				<script type="text/javascript">
				$(document).ready(function(){
					$(".tab-content").eq(0).show();
					$("#tab-titles li").eq(0).addClass("active-tab");
					$("#tab-titles li").click(function(){
						var number = $(this).index();
					$("#tab-titles li").removeClass("active-tab");
					$(".tab-content").hide().eq(number).fadeIn("slow");
					$("#tab-titles li").eq(number).addClass("active-tab");
					});
				});
				</script>
				<div style="clear:both;"></div>
				<div class="home-products-wrap">
					<!-- tab content -->
					<div class="tab-content">
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<div style="clear:both;"></div>
					</div>
					<!-- //tab content -->
					<!-- tab content -->
					<div class="tab-content">
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<div style="clear:both;"></div>
					</div>
					<!-- //tab content -->
					<!-- tab content -->
					<div class="tab-content">
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<div style="clear:both;"></div>
					</div>
					<!-- //tab content -->
					<!-- tab content -->
					<div class="tab-content">
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<!-- product -->
						<div class="product">
							<div class="discount">%18</div>
							<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
							<div class="product-name"><a href="">HP Pavillion AX 87 16 GB RAM 3420 All in One Led Ekranlı Dizüstü Bilgisayar</a></div>
							<div class="product-price">
								<div class="old-price">2,460,00 TL</div>
								<div class="new-price">1,890,00 TL</div>
							</div>
							<div class="view-btn"><a href=""><img src="img/viewbtn.png" alt="" /></a></div>
						</div>
						<!-- //product -->
						<div style="clear:both;"></div>
					</div>
					<!-- //tab content -->
				</div>
			</div>
			<!-- //home products -->
		</div>
		<!-- //content area -->
		<div style="clear:both;"></div>
	</div>
</div>
<!-- //content -->
<!-- footer  -->
<div class="footer">
	<div class="footer-top">
		<div class="wrapper">
			<div class="ebulten">
				<span>Ebülten Aboneliği</span>
				<form action="">
					<input type="text" placeholder="E-posta Adresiniz" class="b-box" />
					<input type="submit" value="" class="b-btn" />
				</form>
			</div>
			<div class="up-btn"><a href="#yukari" class="anchorLink"><img src="img/upbtn.png" alt="" /></a></div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="wrapper">
		<!-- footer left -->
		<div class="footer-left">
			<div class="footer-logo"><a href=""><img src="img/footerlogo.png" alt="" /></a></div>
			<div class="footer-address">
				Bağdat Caddesi No 32 D108 <br />
				Yolaç Plaza Kızıltoprak İSTANBUL <br />
				0850 333 63 13
			</div>
		</div>
		<!-- //footer left -->
		<!-- footer menu -->
		<div class="footer-menu">
			<div class="footer-title">KURUMSAL</div>
			<ul>
				<li><a href="">Hakkımızda</a></li>
				<li><a href="">Basında Biz</a></li>
				<li><a href="">Sık Sorulanlar</a></li>
				<li><a href="">İletişim</a></li>
			</ul>
		</div>
		<!-- //footer menu -->
		<!-- footer menu -->
		<div class="footer-menu">
			<div class="footer-title">MÜŞTERİ HİZMETLERİ</div>
			<ul>
				<li><a href="">Sipariş Takip</a></li>
				<li><a href="">Kargo ve Taşıma</a></li>
				<li><a href="">Gizlilik Sözleşmesi</a></li>
				<li><a href="">Garanti ve İade</a></li>
			</ul>
		</div>
		<!-- //footer menu -->
		<!-- footer social -->
		<div class="footer-social">
			<ul>
				<li><a href=""><img src="img/facebook.png" alt="" /></a></li>
				<li><a href=""><img src="img/gplus.png" alt="" /></a></li>
				<li><a href=""><img src="img/twitter.png" alt="" /></a></li>
			</ul>
			SOSYAL MEDYA İLE <br />BİZİ TAKİP EDİN
		</div>
		<!-- //footer social -->
		<!-- footer bank -->
		<div class="footer-bank"><img src="img/footerbank.png" alt="" /></div>
		<!-- //footer bank -->
		<div style="clear:both;"></div>
		<!-- footer copyright -->
		<div class="footer-copyright">
			minolya.com bulunan tüm ürün ürünlere ait açıklayıcı bilgiler, görseller telif hakları kanununca korunmakta olup izinsiz paylaşılması, kopyalanması veya herhangi biri yazılı ya da görsel mecralarda kullanılması kanunen yasaklanmış olup hukuki yaptırıma tabi tutulmaktadır.
		</div>
		<!-- //footer copyright -->
	</div>
</div>
<!-- //footer  -->
</body>
</html>