/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.ac_resultsa ul::-webkit-scrollbar{width:10px; position:relative; left:5px}

.ac_resultsa ul::-webkit-scrollbar-track{background:#FFF}

.ac_resultsa ul::-webkit-scrollbar-thumb{background:#01819B; border-radius:7px}

.ac_resultsa ul::-webkit-scrollbar-thumb:window-inactive{background:rgba(0,0,0,0.4)}

.ac_resultsa {
    display: none;
    border: 1px solid #C4C5C5;
    overflow: hidden;
    z-index: 99999;
    width: 100%;
    margin-left: 0x;
    border: 0px;
    background-color: #FFF;
    padding: 5px;
    box-shadow: 0px 0px 2px #C4C5C5;
    position: absolute;
    right: 0;
    top: 92%;
}
.ac_resultsa img{float:left;  margin-right:10px;  border:1px solid #DEDEDE;  padding:5px}
 
.ac_resultsa li b{text-align:center; display:block; color:#fff}
 .ac_resultsa li:hover img{float:left;  margin-right:10px;  border:1px solid #01819B;  padding:5px;  background-color:#FFF}
.ac_resultsa li:last-child{border-bottom:0px}
.ac_resultsa strong{color:#000;  font-weight:700;  font-family:arial}
 .ac_resultsa li:hover a{color:#fff}
 .ac_resultsa li:hover h3{color:#fff}
.ac_resultsa li:hover, .ac_resultsa li:hover strong, .ac_resultsa .incorrect{background-color:#212129;  color:#fff}
.ac_resultsa li h3{text-transform:capitalize; color:#565A6B; margin-top:3px}
.ac_resultsa li a{color:#565A6B;  font-size:12px;  margin-top:8px;  display:block}
.ac_resultsa .count-search,.ac_resultsa .count-search:hover {
    background-color: #B12F2F;
    color: #fff;
}
.ac_resultsa li.incorrect a{color:#fff;    font-weight: 400;font-size:13px;margin-top:0px;}

.ac_resultsa li {
    cursor: pointer;
    padding: 10px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: arial;
    border-bottom: 1px solid #dedede;
    display: table;
    width: 100%;
}
